<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% name %} Email Signature</title>
</head>

<body>
    <table cellpadding="2" cellspacing="0" border="0" width="350px"
        style="max-width: 640px; font-family: Arial; font-size: 12px;">
        <tr>
            <td colspan="2">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td style="width: 45%;">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tr>
                                    <td style="color: #2c5c40; font-size: 14px; font-family: Arial; font-weight: bold;">
                                        <strong>{% name %}</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color: #d9b56a; font-size: 10px; font-family: Arial;">
                                        {% title %}
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td style="width: 100%">
                            <div style="float: right">
                                <table cellpadding="1" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td colspan="2" style="font-size: 8px; color: #2c5c40; vertical-align: bottom; text-align: right;">
                                            <img src="https://www.leenvit.pl/Email/Images/phone_v2.png" alt="Telefon" width="12"
                                                style="width: 8px;" />&nbsp;<a href="tel:{% telephone_number %}"
                                                style="text-decoration: none; color: #2c5c40; vertical-align: top; white-space: nowrap;"><strong>{% telephone_number %}</strong></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 8px; color: #2c5c40; vertical-align: bottom; text-align: right;">
                                            <img src="https://www.leenvit.pl/Email/Images/envelope_v2.png" alt="Email" width="12"
                                                style="width: 8px;" />&nbsp;<a href="mailto:{% mail %}"
                                                style="text-decoration: none; color: #2c5c40; vertical-align: top; white-space: nowrap;"><strong>{% mail %}</strong></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="width: 100%;">
                <a href="http://www.leenvit.pl" style="color: #fff; text-decoration: none; border: none;">
                    <img src="https://www.leenvit.pl/Email/Images/leenvit_mail_v3.jpg"
                        alt="leenvit_mail.jpg" style="max-width: 100%;" width="100%" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td colspan="2" style="font-size: 10px; color: #2c5c40; text-align: left; width: 70%;">
                            <b>LEENVIT Sp. z o.o.</b><br>Poland
                        </td>
                        <td colspan="2" style="width: 100%;">
                            <div style="font-size: 10px; color: #023770; text-align: right;">
                                <a href="http://www.leenvit.pl" style="color: #2c5c40; text-decoration: none; font-weight: bold;">
                                    <b>www.leenvit.com</b><br>&nbsp;<br>&nbsp;
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>